@page "/quickSearch"
@using RenPyReader.Services
@inject ISQLiteService SQLiteService

<input @bind="InputText" @onkeydown="HandleKeyDown" type="text" placeholder="Type something and press Enter" />
@foreach (var searchResult in SearchResults)
{
    <div>
        <p>
            @searchResult.Content
        </p>
    </div>
}