<div class="database-handler-wrapper">
    <label>
        <strong>
            Database name: 
        </strong>
    </label>
    <TextInput @bind-Value="@databaseName" />
    <span class="form-text">
        Hint: This name will be used for SQLite DB file.
    </span>
</div>