<div class="file-property-wrapper">
    <div class="file-property">
        <label>
            <strong>
                @Label
            </strong>
        </label>
        <TextInput @bind-Value="@Value" Disabled="@Disabled" />
        @if (!string.IsNullOrEmpty(Hint))
        {
            <span class="form-text">
                @Hint
            </span>
        }
    </div>
</div>