<div class="file-size-handler-wrapper">
    <label>
        <strong>
            Maximum entry size:
        </strong>
    </label>
    <NumberInput TValue="decimal?"
                 Value="maximumSizeMegaBytes"
                 ValueExpression="() => maximumSizeMegaBytes"
                 ValueChanged="(value) => OnSizeChanged(value)"
                 EnableMinMax="true"
                 Min="min"
                 Max="max"
                 Step="step" />
    <span class="form-text">
        Tip: The size must be between @($"{min}MB") and @($"{max}MB").
    </span>
</div>