<div class="file-property-wrapper">
    <div class="file-property">
        <label>
            <strong>
                Name:
            </strong>
        </label>
        @{
            string name = fileResult == null ? "" : fileResult.FileName;
        }
        <TextInput @bind-Value="@name" Disabled="true" />
    </div>
</div>