@inherits LayoutComponentBase
<div class="header-navbar">
    <a href="/fileUploadHandler">
        <h4>
            File handler
        </h4>
    </a>
    <a href="/databaseBrowser">
        <h4>
            Database browser
        </h4>
    </a>
    <a href="/quickSearch">
        <h4>
            Quick search
        </h4>
    </a>
    <a href="/eventReader">
        <h4>
            Event reader
        </h4>
    </a>
</div>
<div class="body-wrapper">
    @Body
</div>
<div class="footer-navbar"></div>