@inherits LayoutComponentBase
<div class="header-navbar">
    <a href="/fileUploadHandler" class="navbar-button">
        <h4>
            File Handler
        </h4>
    </a>
    <a href="/databaseBrowser" class="navbar-button">
        <h4>
            DB Browser
        </h4>
    </a>
    <a href="/quickSearch" class="navbar-button">
        <h4>
            Quick Search
        </h4>
    </a>
    <a href="/eventReader" class="navbar-button">
        <h4>
            Event Reader
        </h4>
    </a>
    <a href="/patchNotesGenerator" class="navbar-button">
        <h4>
            Patch Notes
        </h4>    
    </a>
</div>
<div class="body-wrapper">
    @Body
</div>
<div class="footer-navbar"></div>