@inherits LayoutComponentBase
<div class="header-navbar">
    <a href="/fileUploadHandler">File handler</a>
    <a href="/databaseBrowser">Database browser</a>
    <a href="/quickSearch">Quick search</a>
    <a href="/eventReader">Event reader</a>
</div>
<div class="body-wrapper">
    @Body
</div>
<div class="footer-navbar">
    
</div>