.header-navbar {
    height: 8.1vh;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: center;
    align-items: center;
}
    .header-navbar a {
        text-decoration: none;
        color: black;
    }

.navbar-button {
    padding: 16px;
    align-content: center;
    height: 100%;
}

    .navbar-button:hover {
        background-color: darkgray;
    }

    .navbar-button h4 {
        margin: 0;
    }

.body-wrapper {
    height: 80vh;
}

.footer-navbar {
    height: 8.1vh;
    background-color: lightgray;
}
